@keyframes bouncing-ball {
  0% {transform: translate(0,0);}
  50% {transform: translate(0,15px);}
  100% {transform: translate(0,0);}
}

.outer-scoll-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reddit-search-form{
  margin: 1rem;
}
.reddit-search-form input{
  margin: 0.1rem;
  padding: 0.2rem;
}

.scroll-grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 0.1rem;
}

.scroll-grid-container div{

}

.scroll-grid-container img{
  height: 200px;
  width: 200px;
  object-fit: cover;
}
