html, body{
  margin: 0;
  box-sizing: border-box;
  font-family: Arial;
}

h1, h2, h3, h4 , h5{
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

.main-flex-column-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}